@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Real Time Stock Price Checker</h1>
    <p>Click here to <a href="https://github.com/onemanarmy45">view my other projects!</a>.</p>
</div>

